fastapi
uvicorn
python-multipart
python-dotenv
httpx
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
supabase
pillow
numpy
# Local AI model requirements
torch
torchvision
timm
# gradio_client # (Removed because we are switching back to local model)
